.contactInfoComponent {
    background-color:white;
    height: 408px;
    width: 240px;
    float: left;
    border-radius: 10px;
}

#userImage {
    width: 180;
    height: 180px;
    margin: 20px 30px 30px 30px;
    background-image: url(/userpic.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 50%;
    border:5px solid lightgrey;
}

#contactText {
    color:#848484;
    font-size:0.85em;
    line-height: 90%;
    margin-left:8px; 
    text-align: right;
}

#contactValues {
    font-size:0.85em;
    line-height: 90%;
    margin-left:5px; 
    text-align: left;
}