.meniuComponent {
    margin-top:20px;
    display:flex;
    border-radius: 20px;
    background: linear-gradient(to right, #0aa3c1, #0e9fb7);
    width: 35%;
    align-items: center;
    justify-content: center;
}